<div class="produtos">
  <div>
    <div class="formulario">
      <form class="example-form" [formGroup]="formGroup">
        <mat-form-field class="example-full-width">
          <mat-label>pesquisa </mat-label>
          <input type="text" formControlName="nome" matInput placeholder="Pesquisar por nome...">
        </mat-form-field>
      </form>
      <div class="botoes-pesquisa">
        <button (click)="limpar()" style="margin-left: 10px;" mat-raised-button>Limpar Pesquisa</button>
        <button (click)="openModalNovoProduto()" style="margin-left: 10px;" mat-raised-button
          color="primary">Novo</button>
      </div>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Tem estoque</th>
          <th>Tem foto</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtosPagination?.content">
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.preco}}</td>
          <td [ngClass]="{'tem': produto.isTemEstoque === true, 'nao-tem': produto.isTemEstoque === false}">
            {{produto.isTemEstoque? 'Sim': 'Não'}}</td>
          <td [ngClass]="{'tem': produto.isTemFoto, 'nao-tem': !produto.isTemFoto}">{{produto.isTemFoto? 'Sim': 'Não'}}</td>
          <td>
            <div class="botoes">
              <button mat-raised-button color="primary" (click)="openModalEditarProduto(produto.id)">Editar</button>
              <button mat-raised-button (click)="openModalAcaoAvancada(produto.id)">Ação avançada</button>
              <button mat-raised-button color="warn" (click)="deletarPorId(produto.id, produto.nome)">Deletar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator (page)="onChangePage($event)" [length]="pageEvent.length" [pageSize]="pageEvent.pageSize"
      [pageSizeOptions]="[5]">
    </mat-paginator>
  </div>
</div>
