.editar-dados {
  width: 420px;
  margin: 0 auto;
  padding: 15px 10px;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn-confirmar {
  width: 100%;
}

.obrigatorio {
  color: red;
}

.mudar-senha-link {
  margin-top: 10px;
  text-align: center;
}

.mudar-senha-link a {
  cursor: pointer;
  color: rgb(63, 63, 63);
  text-decoration: underline;
}
