.editar-dados {
  width: 40%;
  margin: 0 auto;
  padding: 15px 10px;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn-confirmar {
  width: 100%;
}

.obrigatorio {
  color: red;
}
