<div class="meus-pedidos">
  <h1 class="texto-centralizado">Todos os meus pedidos feitos</h1>
  <div class="cards">
    <div class="card-pedido" [routerLink]="['/pedido', pedido.id]"
    routerLinkActive="router-link-active"  *ngFor="let pedido of pedidoModelPagination?.content" >
      <div class="card-pedido-data">
        <span>{{pedido?.data}}</span>
      </div>
      <div class="card-pedido-conteudo">
        <span>Valor total: {{pedido?.valorTotal | currency}}</span><br>
        <span>Situação do pedido: {{pedido?.situacaoPedido}}</span><br>
        <span>Situação do pagamento: {{pedido?.pagamento.situacaoPagamento}}</span>
      </div>
    </div>
  </div>
</div>
