.footer {
  text-align: center;
}

.contatos {
  width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
}

.contatos ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contatos img {
  width: 50%;
}
