.home {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-template-areas: "categoria card";
  padding: 5px 10px;
}

.card-categoria {
  grid-area: categoria;
  background-color: rgb(253, 253, 253);
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px black;
  margin-top: 10px;
  padding: 20px 10px;
  font-size: 1.4em;
}

.card-categoria ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  list-style: none;
}
.card-categoria ul li {
  margin: 5px;
}
.card-categoria li a {
  text-decoration: none;
  color: #3e3e3e;
}

.card-categoria li a:hover {
  color: var(--cor-link-hover);
  cursor: pointer;
}

.card-categoria li .selecionado {
  color: var(--cor-link-hover);
  text-decoration: underline;
}

.card-produtos {
  grid-area: card;

  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  width: 90%;
  margin: 10px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px;
}

@media only screen and (max-width: 920px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto;
    grid-template-areas:
      "categoria"
      "card";
  }
  .card-categoria ul {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
