<div class="home">
  <div class="card-categoria">
    <ul>
      <li><a href="" (click)="todos()" [ngClass]="{'selecionado': categoriaSelecionada == null}">Todos</a></li>
      <li *ngFor="let categoria of categorias | async"><a (click)="selecionarCategoria(categoria)"
          [ngClass]="{'selecionado': categoria == categoriaSelecionada}">{{categoria?.nome}}</a></li>
    </ul>
  </div>


  {{categoriaSelecionada | json}}
  <div class="card-produtos">
    <app-card-produto   *ngFor="let produto of produtoModelPaginatio?.content" [produto]="produto"></app-card-produto>
    <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="[6]"
      (page)="onChangePage($event)">
    </mat-paginator>
  </div>
</div>
