<div class="header">
  <div id="logo">
    <h1 [routerLink]="['/home']" routerLinkActive="router-link-active">Pastelaria do Beiçola</h1>
  </div>

  <div class="menu-bar">
    <ul *ngIf="!isLogado();else logado">
      <li><a [routerLink]="['/sobre']" routerLinkActive="selecionado">Sobre</a></li>
      <li><a (click)="openDialogCadastroCliente()">Registre-se</a></li>
      <li><a (click)="openDialogLogin()">Entrar</a></li>
    </ul>
    <ng-template #logado>
      <ul>
        <li><a [routerLink]="['/sobre']" routerLinkActive="selecionado">Sobre</a></li>
        <li><a [routerLink]="['/carrinho-compras']" routerLinkActive="selecionado"><span
              class="info-quantidade-carrinho" *ngIf="quantidadeNoCarrinho() > 0">{{quantidadeNoCarrinho()}}</span>
            Carrinho de Compras <img src="../../../assets/images/carrinho.jpg" alt=""></a>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="beforeMenu">
            <img src="../../../assets/images/person.png" />
            {{getClienteAutenticado().nome}}{{getClienteAutenticado().isAdmin? '(Admin)': ''}}</button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item [routerLink]="[opcao.url]" *ngFor="let opcao of opcoesComum"
              routerLinkActive="router-link-active">
              <img [src]="opcao.avatarUrl" alt="">{{opcao.nome}}</button>

            <div *ngIf="isAdmin()">
              <button mat-menu-item *ngFor="let opcao of opcoesAdmin" [routerLink]="[opcao.url]"
                routerLinkActive="router-link-active">
                <img [src]="opcao.avatarUrl" alt="">{{opcao.nome}}</button>
            </div>

            <button mat-menu-item (click)="sair()"> <img src="../../../assets/images/exit.png" />
              Sair</button>
          </mat-menu>
        </li>
      </ul>

    </ng-template>
  </div>
</div>
