.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(43, 43, 43, 0.466);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.459);
  margin-bottom: 10px;
}

#logo h1 {
  font-size: 30px;
  color: var(--cor-font-default);
}

#logo h1:hover {
  cursor: pointer;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.menu-bar ul li {
  margin-left: 20px;
}

.menu-bar a {
  text-decoration: none;
  color: var(--cor-font-default);
  font-size: 1.2em;
}

.selecionado {
  color: var(--cor-link-hover) !important;
  text-decoration: underline !important;
}

.menu-bar a:hover {
  color: var(--cor-link-hover);
  cursor: pointer;
}

.info-quantidade-carrinho{
  width: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 3px;
}
