<div class="header">
  <div id="logo">
    <h1 [routerLink]="['/home']" routerLinkActive="router-link-active">Pastelaria do Beiçola</h1>
  </div>
  <div class="menu-bar">
    <ul *ngIf="!isLogado();else logado">
      <li><a (click)="openDialogCadastroCliente()">Registre-se</a></li>
      <li><a (click)="openDialogLogin()">Entrar</a></li>
    </ul>
    <ng-template #logado>
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <img src="../../../assets/images/person.png" />
        {{getClienteAutenticado().nome}}{{getClienteAutenticado().isAdmin? '(Admin)': ''}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/editar-dados']" routerLinkActive="router-link-active">
          Editar Meus Dados</button>
        <button mat-menu-item *ngIf="isAdmin()" [routerLink]="['/produtos']" routerLinkActive="router-link-active">
          Produtos</button>
        <button mat-menu-item (click)="sair()"> <img src="../../../assets/images/exit.png" width="20%" />
          Sair</button>
      </mat-menu>
    </ng-template>
  </div>
</div>
