<div class="card-produto">
  <div class="clicavel" [routerLink]="['/produto-item', produto.id]" routerLinkActive="router-link-active">
    <div>
      <img [src]="pegarAvatarUrl()" alt="">
    </div>
    <div class="card-about">
      <div class="card-preco-nome">
        <h3>{{produto?.nome}} <span style="color: var(--cor-dinheiro);">{{produto?.preco | currency}}</span></h3>
        <p class="card-descricao">{{produto?.descricao}}</p>
      </div>
    </div>
  </div>
  <div class="card-button-adicionar-carrinho">
    <button style="width: 100%;" (click)="adicionarNoCarrinho()" mat-raised-button color="primary"> Adicionar ao
      carrinho</button>
  </div>
</div>
