.card-produto {
  border: 1px solid rgba(0, 0, 0, 0.493);
  width: 240px;
  height: 300px;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
  color: var(--cor-font-default);
}

.card-produto img {
  width: 90%;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
}

.card-about {
  text-align: center;
}

h3 {
  margin: 0;
  font-weight: bold;
}

.card-button-adicionar-carrinho {
  width: 90%;
  margin: 0 auto;
}

.card-button-adicionar-carrinho button {
  background-color: var(--background-color-botao-carrinho);
  font-weight: bold;
}

.card-preco-nome {
  height: 70px;
  padding: 10px 5px;
  font-size: 1vw;
}
