.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "header"
    "conteudo"
    "footer";
  height: 100vh;

  grid-gap: 10px;
}

.spinner-font{
  color: white;
  font-size: 20px;
}

.header {
  grid-area: header;
}

.conteudo {
  grid-area: conteudo;
}

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
}

::ng-deep .success {
  background-color: greenyellow;
  color: white;
}

::ng-deep .error {
  background-color: rgb(255, 47, 47);
  color: white;
}

::ng-deep .error button {
  color: white;
}

::ng-deep .success button {
  color: white;
}


::ng-deep .alerta {
  background-color: rgb(255, 145, 0);
  color: white;
}

::ng-deep .alerta button {
  color: white;
}

